header{
    width: 100%;
    .header-nav{
        min-height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-menu{
        display: none;
    }

    .logo{
        height: 100px;
    }

    nav{
        ul{
            display: flex;
            gap: 40px;
            height: 100%;
            a{
                color: $lessgrey;
                &:hover{
                    background: linear-gradient(to right,$pink, $aqua);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: 0.5s;
                    cursor: pointer;
                    
                }
            }
        }
    }
    .header-icons{
        i{
            font-size: 30px;
            color: $grey;
            margin-left: 20px;
            &:hover{
                background: linear-gradient(to right,$aqua, $pink);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: 0.5s;
                cursor: pointer;
            }
        }
    }
    .header-hero{
        max-width: 1204px;
        min-height: 350px;
        margin-top: 220px;
        display: flex;
        justify-content: space-between;
        h1{
            font-size: 58px;
            font-weight: 700;
            line-height: 70px;
            letter-spacing: -1px;
            max-width: 636px;
            span{
                background: linear-gradient(to right, $aqua, $pink);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;


            }
        }
        .anim-p{
            position: relative;
            min-height: 120px;
            overflow: hidden;
            p{
                position: absolute;
                font-size: 36px;
                margin-top: 20px;
                min-height: 60px;
                width: 100%;
                z-index: 0;
            }
            .aaa{
                animation-name: anime-p;
                animation-iteration-count: infinite;
                animation-duration: 4s;
                animation-delay: 1s;
                animation-timing-function: ease-out;
                width: 100%;
                position: absolute;
                height: 120px;
                margin-top: 20px;
                z-index: 1;
                background: black;
            }
            @keyframes anime-p {
                to{
                    transform: translate(400px);
                }
            }
        }
        
        .header-img{
            position: relative;
            height: 455px;
            width: 355px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 11%;
            z-index: 10;
            overflow: hidden;
            img{
                
                width: 97%;
                height: 97%;
                border-radius: 10%;
                z-index: 1;
            }
        }
        .header-img::before{
            content: "";
            position: absolute;
            left: -60%;
            top: -30%;
            width: 800px;
            height: 800px;
            background-image: linear-gradient(360deg, red, blue, fuchsia);
            z-index: -1;
            animation: borA 3s linear infinite;
            transition: all .2s linear;
        }
        @keyframes borA {
            from{
                transform: rotate(0deg);
            }
            to{
                transform: rotate(360deg);
            }
        }  
    }
    .about{
        text-align: center;
        h2{
            font-size: 36px;
            margin-top: 80px;
        }
        p{

            max-width: 800px;
            margin: 30px auto;
            line-height: 30px;
            padding: 0px 15px;
        }
    }
}